<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <proxies>
    <proxy>
      <id>estsecproxy</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>proxy.intern.est.fujitsu.com</host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost|127.0.0.1|estscm1.intern.est.fujitsu.com</nonProxyHosts>
    </proxy>
    <proxy>
      <id>estproxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.intern.est.fujitsu.com</host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost|127.0.0.1|estscm1.intern.est.fujitsu.com</nonProxyHosts>
    </proxy>
  </proxies>
  <profiles>
    <profile>
      <id>local-config</id>
      <properties>
        <jdk.directory>C:/Program Files/Java/jdk1.7.0_79</jdk.directory>
        <user.directory>C:/Users/miethaner</user.directory>
        <glassfish.directory>C:/Applications/glassfish4</glassfish.directory>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>local-config</activeProfile>
  </activeProfiles>
</settings>