<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <proxies>
    <proxy>
      <id>estsecproxy</id>
      <active>true</active>
      <protocol>https</protocol>
      <host>proxy.intern.est.fujitsu.com</host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost|127.0.0.1|estscm1.intern.est.fujitsu.com</nonProxyHosts>
    </proxy>
    <proxy>
      <id>estproxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.intern.est.fujitsu.com</host>
      <port>8080</port>
      <username></username>
      <password></password>
      <nonProxyHosts>localhost|127.0.0.1|estscm1.intern.est.fujitsu.com</nonProxyHosts>
    </proxy>
  </proxies>
</settings>